@model ds3Wiki.Models.Armor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Armor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physical_protection" class="control-label"></label>
                <input asp-for="Physical_protection" class="form-control" />
                <span asp-validation-for="Physical_protection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fire_protection" class="control-label"></label>
                <input asp-for="Fire_protection" class="form-control" />
                <span asp-validation-for="Fire_protection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lightning_protection" class="control-label"></label>
                <input asp-for="Lightning_protection" class="form-control" />
                <span asp-validation-for="Lightning_protection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Magic_protection" class="control-label"></label>
                <input asp-for="Magic_protection" class="form-control" />
                <span asp-validation-for="Magic_protection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
