@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="text-center">
        <img src="~/img/logo.png" class="img-fluid">
        <h1 class="text-secondary display-4">wiki</h1>
    </div>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="card-group" style="width: 75%; margin: 0 auto;">
                <div class="card border-0" style="margin: 25px;">
                    <img src="~/img/info.png " class="card-img-top"  style="padding: 10px">
                    <div class="card-body">
                        <h5 class="card-title">Общая информация:</h5>
                        <a  class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;"  asp-controller="Game_info" asp-action="Index"> 
                            Об игре
                        </a>
                        <a  class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Locations" asp-action="Index"> 
                            Локации
                        </a>
                    </div>
                </div>
                <div class="card border-0" style="margin: 25px;">
                    <img src="~/img/characters.png" class="card-img-top" style="padding: 10px"> 
                    <div class="card-body">
                        <h5 class="card-title">Неигровые персонажи:</h5>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Characters" asp-action="Index"> 
                            Союзники
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Enemies" asp-action="Index"> 
                            Противники
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="NPC_location" asp-action="Index"> 
                            Местонахождение
                        </a>
                    </div>
                </div>
                <div class="card border-0" style="margin: 25px;">
                    <img src="~/img/armor.png" class="card-img-top" style="padding: 10px">
                    <div class="card-body">
                        <h5 class="card-title">Снаряжение</h5>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Armors" asp-action="Index"> 
                            Броня
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Weapons" asp-action="Index"> 
                            Оружие
                        </a>
                    </div>
                </div>

            </div>
            <div class="card-group border-0" style="width: 75%; margin: 0 auto;">
                <div class="card border-0"  style="margin: 25px;">
                    <img src="~/img/magic.png" class="card-img-top" style="padding: 10px">
                    <div class="card-body">
                        <h5 class="card-title">Магия</h5>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Type_of_magic" asp-action="Index"> 
                            Типы магии
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Magics" asp-action="Index"> 
                            Заклинания
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Catalysts" asp-action="Index"> 
                            Катализаторы
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Sale_magic" asp-action="Index"> 
                            Покупка заклинаний
                        </a>
                    </div>
                </div>
                <div class="card border-0"  style="margin: 25px;">
                    <img src="~/img/gems.png" class="card-img-top" style="padding: 10px">
                    <div class="card-body">
                        <h5 class="card-title">Улучшения</h5>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Character_characteristic" asp-action="Index"> 
                            Характеристики персонажа
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Improvement_path" asp-action="Index"> 
                            Пути улучшения
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-info rounded-pill" style="margin-top: 10px;" asp-controller="Gem_Location" asp-action="Index"> 
                            Местонахождение 
                        </a>
                    </div>
                </div>
                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                    <div class="card border-0"  style="margin: 25px;">
                        <img src="~/img/administration.png" class="card-img-top" style="padding: 10px">
                        <div class="card-body">
                            <h5 class="card-title text-danger">Администрация:</h5>
                            @if (User.IsInRole("admin"))
                            {
                                <a class="list-group-item list-group-item-action list-group-item-danger rounded-pill" style="margin-top: 10px;" asp-controller="Roles" asp-action="Index"> 
                                    Роли
                                </a>
                            }
                            <a class="list-group-item list-group-item-action list-group-item-danger rounded-pill" style="margin-top: 10px;" asp-controller="Users" asp-action="Index"> 
                                Пользователи
                            </a>
                        </div>
                    </div>
                }
                </div>

        }
        else
        {
            <h4 class="text-danger">Зарегистрируйтесь для просмотра</h4>
        }
    </div>
</div>
