@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a asp-controller="Armors" asp-action="Index"> Armor</a>
        <p>Catalyst <a asp-controller="Catalysts" asp-action="Index"> list</a></p>
        <p>Character characteristic <a asp-controller="Character_characteristic" asp-action="Index"> list</a></p>
        <p>Character <a asp-controller="Characters" asp-action="Index"> list</a></p>
        <p>Enemy <a asp-controller="Enemies" asp-action="Index"> list</a></p>
        <p>Game info <a asp-controller="Game_info" asp-action="Index"> list</a></p>
        <p>Improvement path <a asp-controller="Improvement_path" asp-action="Index"> list</a></p>
        <p>Item <a asp-controller="Items" asp-action="Index"> list</a></p>
        <p>Location <a asp-controller="Locations" asp-action="Index"> list</a></p>
        <p>Magic <a asp-controller="Magics" asp-action="Index"> list</a></p>
        <p>Negative effect <a asp-controller="Negative_effect" asp-action="Index"> list</a></p>
        <p>Type of magic <a asp-controller="Type_of_magic" asp-action="Index"> list</a></p>
        <p>Weapon <a asp-controller="Weapons" asp-action="Index"> list</a></p>
</div>
