@model ds3Wiki.Models.Catalyst

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1>
        @Html.DisplayFor(model => model.Title)
    </h1>
    <h3>Вы уверены, что хотите удалить запись?</h3>
    <form asp-action="Delete">
        <a class="btn btn-outline-info" asp-action="Index">Вернуться</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-outline-danger" />
    </form>
</div>