@model IEnumerable<ds3Wiki.Models.Catalyst>

@{
    ViewData["Title"] = "Катализаторы";
}

<div class="text-center container-fluid">
    <div class="text-center">
        <img src="~/img/logo.png" class="img-fluid">
        <h1 class="text-secondary display-4">катализаторы</h1>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <a class="text-wrap list-group-item list-group-item-action list-group-item-info rounded-pill mt-3" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </div>
            }
        </div>
    </div>
</div>
@if (User.IsInRole("admin") || User.IsInRole("moderator"))
{
    <p>
        <a class="btn btn-outline-info d-flex justify-content-center rounded-pill" style="margin: 30px;" asp-action="Create">Создать</a>
    </p>
}