@model ds3Wiki.Models.Magic

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменить</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type_of_magicId" class="control-label"></label>
                <select asp-for="Type_of_magicId" class="form-control" asp-items="ViewBag.Type_of_magicId"></select>
                <span asp-validation-for="Type_of_magicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentration_costs" class="control-label"></label>
                <input asp-for="Concentration_costs" class="form-control" />
                <span asp-validation-for="Concentration_costs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occupied_cells" class="control-label"></label>
                <input asp-for="Occupied_cells" class="form-control" />
                <span asp-validation-for="Occupied_cells" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-dark" asp-action="Index">Вернуться</a> <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
