@model ds3Wiki.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">
    @Html.DisplayFor(model => model.Name)
</h1>
<div class="row align-items-center justify-content-evenly">
    <div class="col-4">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-info rounded-pill">
                Описание:
            </li>
            <li class="list-group-item border-0">
                @Html.DisplayFor(model => model.Description)
            </li>
        </ul>
    </div>
    <div class="col-4">
        <img src="~/img/characters.png">
    </div>
</div>
<div class="mx-auto" style="width: 300px">
    <a class="btn btn-outline-info" asp-action="Index">Вернуться</a>
    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
    }
    @if (User.IsInRole("admin"))
    {
        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
    }
</div>

